body {
    text-align: center;
}
.btn {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 1.5rem;
}
.btn-container {
    display: flex;
    justify-content: center;
}
.orange {
    background-color: orange;
}
.purple {
    background-color: rgb(124, 96, 124);
}
.blue {
    background-color: rgb(31, 137, 163);
}
.green {
    background-color: rgb(126, 245, 126);
}
.white {
    background-color: white;
}